extends layout

block content
  h1.titulo= title
  p.negr Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1.titulo  Dynamic content

  p.negr The library has the following record counts:

  ul
    li.inicio1  #[strong Books:] !{book_count}
    li.inicio1 #[strong Copies:] !{book_instance_count}
    li.inicio1 #[strong Copies available:] !{book_instance_available_count}
    li.inicio1 #[strong Authors:] !{author_count}
    li.inicio1 #[strong Genres:] !{genre_count}
